---
layout: default
---
<kbd></kbd><div class="posts">
  {% assign cat = page.category | gsub(/\s/, "-") | gsub(/[^\w-]/, '') | downcase %}
  {% for category in site.categories %}
    {% if category[0] == cat %}
      {% for post in category[1] %}
        <div class="post-teaser">
          <header>
            <h1>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
              </a>
            </h1>
            <p class="meta">
              {{ post.date | date: "%B %-d, %Y" }}
            </p>
          </header>
          <div class="excerpt">
            {{ post.excerpt || post.content | truncatewords:150}}<br />
            <a class="button" href="{{ post.url | prepend: site.baseurl }}">
              {{ site.theme.str_continue_reading }}
            </a>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
</div>
</div>
